<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .piece{
            background-color: #F2F2F2;width: 28%;float: left;text-align:center;margin: 10px;
        }
        .piece p{
            margin: 10px;
        }
        .p_num{
            margin: 10px;color: #1e9fff;
        }
        .piece:hover {
            background-color: #e2e2e2;
        }

        .layuiadmin-badge{
            position: absolute;
            top: 50%;
            margin-top: -9px;
            right: 15px;
        }
    </style>
</head>

<body >

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">会议统计<span class="layui-badge layui-bg-blue layuiadmin-badge">总：<span id="mtinfo_count">0</span></span></div>
                <div class="layui-card-body " style="overflow:hidden;">
                    <div class="piece" >
                        <a >
                            <p>初始化</p>
                            <h1 class="p_num" id="mtinfo_initcount" style="color: #3F3F3F" >0</h1>
                        </a>
                    </div>
                    <div class="piece">
                        <a >
                            <p>进行中</p>
                            <h1 class="p_num" id="mtinfo_ingcount"  style="color: #00FF00">0</h1>
                        </a>
                    </div>
                    <div class="piece">
                        <a >
                            <p>已结束</p>
                            <h1 class="p_num" id="mtinfo_endtcount" >0</h1>
                        </a>
                    </div>
                    <div class="piece">
                        <a >
                            <p>暂停</p>
                            <h1 class="p_num" id="mtinfo_pausecount" style="color: #FFCC33">0</h1>
                        </a>
                    </div>
                    <div class="piece">
                        <a >
                            <p>异常</p>
                            <h1 class="p_num" id="mtinfo_abnormalcount" style="color: red">0</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">设备统计</div>
                <div class="layui-card-body" style="overflow:hidden;">
                    <div class="piece" >
                        <a >
                            <p>审讯设备</p>
                            <h1 class="p_num" id="fdcount" >0</h1>
                        </a>
                    </div>
                    <div class="piece">
                        <a >
                            <p>身心监护</p>
                            <h1 class="p_num" id="phcount">0</h1>
                        </a>
                    </div>
                    <div class="piece">
                        <a >
                            <p>语音识别服务</p>
                            <h1 class="p_num" id="asrcount" >0</h1>
                        </a>
                    </div>
                    <div class="piece">
                        <a >
                            <p>文字转语音服务</p>
                            <h1 class="p_num" id="ttscount">0</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">会议模板</div>
                <div class="layui-card-body" style="overflow:hidden;">
                    <div class="piece">
                        <a >
                            <p>会议模板</p>
                            <h1 class="p_num" id="modelcount">0</h1>
                        </a>
                    </div>
                    <div class="piece">
                        <a >
                            <p>模板通道</p>
                            <h1 class="p_num" id="modeltdcount" >0</h1>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="footer :: footer">...</div>
<script th:src="@{/js/sweb/home.js}" type="text/javascript"></script>
<script>
    getHome();
</script>
</body>
</html>