<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="${title}">主页</title>

    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/uimaker/css/common.css">

    <script th:src="@{/layui/lay/modules/laytpl.js}" type="text/javascript"></script>
    <script th:src="@{/js/login.js}" type="text/javascript"></script>


</head>
<style>
 .layui-iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
 }
 .layui-nav .layui-nav-child dd.layui-this a, .layui-bg-blue{
     background-color: #1e9fff;
 }

</style>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-blue">
        <a th:href="@{/mc/main/main}"><h1 class="layui-logo"  style="color: #fff; font-size: 18px; font-weight:bold; font-style:italic" th:text="${title}"></h1></a>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd><a  target="option">用户列表</a></dd>
                    <dd><a  target="option">角色列表</a></dd>

                </dl>
            </li>
            <li class="layui-nav-item"><a   target="option">提讯笔录</a></li>
            <li class="layui-nav-item"><a  target="option">关键字</a></li>
            <li class="layui-nav-item"><a  target="option">笔录统计</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">系统管理</a>
                <dl class="layui-nav-child">
                    <dd><a  target="option">系统配置</a></dd>
                    <dd><a  target="option">同步数据</a></dd>

                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" >
                    <img src="/uimaker/images/login_logo.png" class="layui-nav-img">
                    <span th:text="${session.MANAGE_WEB.username}">超管</span>
                </a>
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="">基本资料</a></dd>-->
                <!--</dl>-->
            </li>
            <li class="layui-nav-item"><a href="javascript:;" onclick="login_logout();">退出</a></li>
        </ul>
    </div>


    <div class="layui-body" style="left: 0">
        <!-- 内容主体区域 -->
        <div class="layui-show">
            <iframe src="/mc/main/home" frameborder="0" class="layui-iframe"  id="option" name="option"></iframe>
            <!--<iframe src="/publicweb/ceshi/getAddUser" frameborder="0" class="layui-iframe"  id="option" name="option"></iframe>-->
        </div>
    </div>

    <div class="layui-footer"  style="left: 0;">
        <!-- 底部固定区域 -->
        <p style=" text-align:center;">版权所有  © 2019 深圳顺泰伟成科技有限公司</p>
    </div>
</div>
<div th:replace="footer :: footer">...</div>
<script>
    //JavaScript代码区域
    layui.use(['element','form'], function(){
        var element = layui.element;

    });





</script>
</body>
</html>