<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${Avstmt_modeltdList.title}">智能提讯系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/uimaker/css/common.css">
</head>
<style>
    table td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<body>
<div style="margin: 15px;" class="layui-form">
    <div th:replace="header :: header"></div>
    <div class="layui-elem-quote">
        <h3 th:text="${Avstmt_modeltdList.title}"></h3>
    </div>

    <form class="layui-form" action="">
        <div class="layui-form-item">

            <label class="layui-form-label" style="width: auto;">是否需要测谎</label>
            <div class="layui-input-inline">
                <select name="usepolygraph" lay-verify="" id="usepolygraph" lay-filter="usepolygraph_filter" >
                    <option value="">全部</option>
                    <option value="1">需要</option>
                    <option value="-1">不需要</option>
                </select>
            </div>

            <label class="layui-form-label" style="width: auto;">是否语音识别</label>
            <div class="layui-input-inline">
                <select name="useasr" lay-verify="" id="useasr" lay-filter="useasr_filter" >
                    <option value="">全部</option>
                    <option value="1">是</option>
                    <option value="-1">否</option>
                </select>
            </div>

            <label class="layui-form-label" style="width: auto;">通道级别</label>
            <div class="layui-input-inline">
                <select name="grade" lay-verify="" id="grade" lay-filter="grade_filter" >
                    <option value="">全部</option>
                    <option value="1">主麦</option>
                    <option value="2">二麦</option>
                    <option value="3">三麦</option>
                    <option value="4">四麦</option>
                    <option value="5">五麦</option>
                    <option value="6">六麦</option>
                    <option value="7">七麦</option>
                    <option value="8">八麦</option>
                    <option value="9">九麦</option>
                    <option value="10">十麦</option>

                </select>
            </div>

            <label class="layui-form-label" style="width: auto;">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" name="createtime" id="createtime" lay-verify="required" placeholder="请输入创建时间" autocomplete="off" class="layui-input" >
            </div>

            <input type="button" class="layui-btn layui-btn-normal" value="查询" onclick="getAvstmt_modeltdListByParam();" >
            <input type="button" class="layui-btn layui-btn-normal" value="添加" onclick="toAvstmt_modeltdAddOrUpdate(null);" >
            <input type="button" class="layui-btn layui-btn-normal" value="返回" onclick="javascript: window.location.href=getUrl_manage().toAvstmt_modelList;return false;" >
        </div>
    </form>


    <div th:replace="page :: page">...</div>

    <div th:replace="footer :: footer">...</div>
</div>
<script id="pagelisttemplates" type="text/html">
    <table class="layui-table" style="table-layout: fixed">
        <thead>
        <tr>
            <th>序号</th>
            <th>嵌入式设备</th>
            <th>测谎仪</th>
            <th>语音识别服务</th>
            <th>设备通道</th>
            <th>通道级别</th>
            <th>是否需要测谎</th>
            <th>是否语音识别</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="pagelisttemplates_tbody">
        {{#  layui.each(pagelist, function(index, value){ }}
        <tr>
            <td>{{index+1}}</td>
            <td title='{{value.fdexplain==null?"":value.fdexplain}}'>{{value.fdexplain==null?"":value.fdexplain}}</td>
            <td title='{{value.phexplain==null?"":value.phexplain}}'>{{value.phexplain==null?"":value.phexplain}}</td>
            <td title='{{value.asrexplain==null?"":value.asrexplain}}'> {{value.asrexplain==null?"":value.asrexplain}}</td>
            <td title='{{value.tdexplain==null?"":value.tdexplain}}'>{{value.tdexplain==null?"":value.tdexplain}}</td>
            <td>{{value.grade==null?"":(value.grade==1?"主麦":(value.grade+"麦"))}}</td>
            <td><input type="checkbox" name="usepolygraph" lay-skin="switch" lay-filter="switchUsepolygraph" lay-text="需要|不需要" {{value.usepolygraph==-1?'':'checked'}} value="{{value.ssid}}"/></td>
            <td><input type="checkbox" name="useasr" lay-skin="switch" lay-filter="switchUseasr" lay-text="是|否" {{value.useasr==-1?'':'checked'}} value="{{value.ssid}}"/></td>
            <td>{{value.createtime==null?"":value.createtime}}</td>
            <td>
                <a href="#" class="layui-btn layui-btn-normal layui-btn-sm" onclick="toAvstmt_modeltdAddOrUpdate('{{value.ssid}}');">修改</a>
                <a href="#" class="layui-btn layui-btn-danger layui-btn-sm" onclick="delAvstmt_modeltd('{{value.ssid}}');">删除</a>
            </td>
        </tr>
        {{#  }); }}
        </tbody>
    </table>

</script>
<script th:src="@{/js/jquery-1.11.1.js}" type="text/javascript"></script>
<script th:src="@{/js/common.js}"  type="text/javascript" ></script>
<script th:src="@{/js/url.js}"  type="text/javascript" ></script>
<script th:src="@{/layui/layui.js}"type="text/javascript"></script>
<script th:src="@{/layui/lay/modules/laytpl.js}" type="text/javascript"></script>
<script th:src="@{/js/sweb/avstjs/Avstmt_modeltdList.js}" type="text/javascript"></script>
<script th:inline="javascript">
    var mtmodelssid=null;
    $(function () {
        mtmodelssid=[[${Avstmt_modeltdList.mtmodelssid}]];
        getAvstmt_modeltdListByParam();
    })
    layui.use(['layer','element','laydate'], function(){
        var layer = layui.layer; //获得layer模块
        var element = layui.element;
        var laydate = layui.laydate;
        //使用模块

        laydate.render({
            elem: '#createtime'
            ,range: "~"
            ,done: function(value, date, endDate){
                createtime=value;
                getAvstmt_modeltdListByParam();
            }
        });
    });
</script>
</body>
</html>