<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avst.meetingcontrol.common.datasourse.extrasourse.avstmt.mapper.Avstmt_tduserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.avst.meetingcontrol.common.datasourse.extrasourse.avstmt.entity.Avstmt_tduser">
        <id column="id" property="id" />
        <result column="equipmenttdssid" property="equipmenttdssid" />
        <result column="userssid" property="userssid" />
        <result column="username" property="username" />
        <result column="usertype" property="usertype" />
        <result column="mtssid" property="mtssid" />
        <result column="createtime" property="createtime" />
        <result column="string1" property="string1" />
        <result column="string2" property="string2" />
        <result column="integer1" property="integer1" />
        <result column="integer2" property="integer2" />
        <result column="ssid" property="ssid" />
    </resultMap>

</mapper>
