<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avst.meetingcontrol.common.datasourse.extrasourse.avstmt.mapper.Avstmt_realtimrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.avst.meetingcontrol.common.datasourse.extrasourse.avstmt.entity.Avstmt_realtimrecord">
        <id column="id" property="id" />
        <result column="mtssid" property="mtssid" />
        <result column="mtuserssid" property="mtuserssid" />
        <result column="filesavessid" property="filesavessid" />
        <result column="recordtime" property="recordtime" />
        <result column="starttime" property="starttime" />
        <result column="ordernum" property="ordernum" />
        <result column="translatext" property="translatext" />
        <result column="createtime" property="createtime" />
        <result column="string1" property="string1" />
        <result column="string2" property="string2" />
        <result column="integer1" property="integer1" />
        <result column="integer2" property="integer2" />
        <result column="ssid" property="ssid" />
    </resultMap>

</mapper>
